<div class="selectPaquete">
    <h1>Seleccione su Paquete</h1>
    <p>@ViewBag.MensajeError </p>
    <section>
</div>
<form action='@Url.Action("GuardarPaquete","Home")' class="opciones">

    <select name="Destino">
        <optgroup>
            <option disabled="" selected=" ">Destinos</option>
            @for (int i = 1; i <= 10; i++)
            {
                <option value="@i"> @(ViewBag.ListaDestinos[@i - 1])</option>
            }
        </optgroup>
    </select>


    <select name="Aereo">
        <optgroup>
            <option disabled="" selected="">Aereos</option>
            @for (int i = 1; i <= 10; i++)
            {
                <option value="@i">Avion @(i)</option>
            }
        </optgroup>
    </select>


    <select name="Excursion">
        <optgroup>
            <option disabled="" selected="">Excursiones</option>
            @for (int i = 1; i <= 10; i++)
            {
                <option value="@i">Excursiones @(i)</option>
            }
        </optgroup>
    </select>


    <select name="Hotel">
        <optgroup>
            <option disabled="" selected="">Hoteles</option>
            @for (int i = 1; i <= 10; i++)
            {
                <option value="@i">Hotel @(i)</option>
            }
        </optgroup>
    </select>


    <input type="submit" value="Enviar" />
</form>

<!-- Mostrar Fotos -->

<div class="listadofotos">
    <div class="boxgrande">
    @{
            
        
        int numero = 1;
        <div class="box">
        @foreach (string hotel in @ViewBag.ListaHoteles)
        {

            <div>
                <p>Hotel: @numero</p>
                <img src="/images/@hotel">
            </div>
            numero++;
        }
        </div>
        numero = 1;
        <div class="box">
        @foreach (string Avion in @ViewBag.ListaAviones)
        {

            <div>
                <p>Avion: @numero</p>
                <img src="/images/@Avion">
            </div>

            numero++;
        }
        </div>
        numero = 1;
        <div class="box">
        @foreach (string Excursion in @ViewBag.ListaExcursiones)
        {
            <div>
                <p>Excursion: @numero</p>
                <img src="/images/@Excursion">
            </div>
            numero++;
        }
        </div>

    }
    
</div>
@{
    if (ViewBag.MensajeError != string.Empty)
    {
        <h1>@ViewBag.MensajeError</h1>
    }
}
</section>
</div>